click==8.0.3
Flask==2.0.3
importlib-metadata==4.11.1
itsdangerous==2.0.1
Jinja2==3.0.3
json2html==1.3.0
MarkupSafe==2.0.1
psutil==5.9.0
typing_extensions==4.1.1
Werkzeug==2.0.3
zipp==3.7.0
numpy==1.21.5
uptime==3.0.1
