:root {
	--background-primary: #ffffff;
	--color-primary: #333;
  }
  
  html[data-theme='dark'] {
	--background-primary: #030303;
	--color-primary: #ccc;
  }
  
  html {
	transition: color 300ms, background-color 300ms;
	background: var(--background-primary);
	color: var(--color-primary);
  }
  
  h1, h2, p {
	color: var(--color-primary);
  }
.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
    table-layout: auto;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 16px;
}
