<!DOCTYPE html>
<html lang="en">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/index.css" />
<script type=text/javascript>
    function cpuRefresh(){
        $.getJSON('home',function () { // background_process_timed_cpu' corresponds to app route
            $(this).unwrap();
        });
    }

    cpuRefresh(); // This will run on page load, calls cpuRefresh function above, that then calls to the app route in dashboard.py
    setInterval(function(){
        cpuRefresh() // this will run after every 5 seconds
    }, 5000); // time in ms
    // end block
    // Capture the current theme from local storage and adjust the page to use the current theme.
    const htmlEl = document.getElementsByTagName('html')[0];
    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
    if (currentTheme) {
        htmlEl.dataset.theme = currentTheme;
        }
    // When the user changes the theme, we need to save the new value on local storage
    const toggleTheme = (theme) => {
        htmlEl.dataset.theme = theme;
        localStorage.setItem('theme', theme);
        }
</script>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <meta charset="UTF-8">
    <title>Guest Shell Dashboard</title>
</head>
<body>
    <script type=text/javascript>
        // Capture the current theme from local storage and adjust the page to use the current theme.
        const htmlEl = document.getElementsByTagName('html')[0];
        const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
        if (currentTheme) {
            htmlEl.dataset.theme = currentTheme;
            }
        // When the user changes the theme, we need to save the new value on local storage
        const toggleTheme = (theme) => {
            htmlEl.dataset.theme = theme;
            localStorage.setItem('theme', theme);
            }
    </script>
    <button onclick="toggleTheme('dark');">Dark</button> 
    <button onclick="toggleTheme('light');">Light Mode</button>
    <div class="logo">
        <img src="static\1200px-Cisco_logo_blue_2016.png" alt="Cisco Logo">
    </div>
   <h1>Welcome to Cisco's Guest Shell Dashboard </h1>
    <div class='container'>
        <h3>Host Name {{ hostname }} </h3>
        <h3>Local IP Address {{ ip }} </h3>
        <h3> {{ output }} </h3>
    </div>

    <a href="/interface" class="button">Show IP Inteface Brief</a>

    <form action="/interface">
        <input type="submit" value="Show IP Inteface Brief" />
    </form>

    <br>
    <br>
    <div class="iframes-container" align="center">
    <iframe src="version" ></iframe>
    <iframe src="interface" ></iframe>
    <iframe src="processes" ></iframe>
  </div>
    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-container">

            </div>
        </div>
    </div>

    <script>
        var chart;

        function requestData()
        {
            // Ajax call to get the Data from Flask
            var requests = $.get('/graph_data');


            var tm = requests.done(function (result)
            {
                var series = chart.series[0],
                    shift = series.data.length > 20;

                // add the point
                chart.series[0].addPoint(result, true, shift);

                // call it again after one second
                setTimeout(requestData, 5000);
            });
        }

        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-container',
                    defaultSeriesType: 'spline',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'CPU Percentage every 5 seconds'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'CPU Percentage',
                        margin: 80
                    }
                },
                series: [{
                    name: 'Time',
                    data: []
                }]
            });

        });
    </script>
</body>
</html>
