<!DOCTYPE html>
<html lang="en">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        $('a#test').on('click', function(e) {
            $.getJSON('background_process_test',  // app route and function name in dashboard.py
            function(data) {
                // do nothing
            });
            return false;
        });
    });
    $(function() {
        $('a#test1').on('click', function(e) { // a#test1 corresponds to id=test1 in <a href=# id=test1><button... 
            $.getJSON('background_process_ip', // app route and function name in dashboard.py
            function(data) {
                // do nothing
            });
            return false;
        });
    });

    // this block works after page loads, no action needed
    // see https://www.w3schools.com/xml/ajax_intro.asp
    // and https://stackoverflow.com/questions/25446628/ajax-jquery-refresh-div-every-5-seconds
    function cpuRefresh(){
        $.getJSON('background_process_timed_cpu',function () { // background_process_timed_cpu' corresponds to app route
            $(this).unwrap();
        });
    }

    cpuRefresh(); // This will run on page load, calls cpuRefresh function above, that then calls to the app route in dashboard.py
    setInterval(function(){
        cpuRefresh() // this will run after every 5 seconds
    }, 5000); // time in ms
    // end block

</script>
<head>
    <meta charset="UTF-8">
    <title>Guest Shell Dashboard</title>
</head>
<body>
   <h1>Welcome to Cisco's Guest Shell Dashboard </h1>
    <div class='container'>
        <h3>Send host name to console.</h3>
            <form>
                <a href=# id=test><button class='btn btn-default'>Get Host Name</button></a>
            </form>
        <h3>Send IP address to console.</h3>
            <form>
                <a href=# id=test1><button class='btn btn-default'>Get IP Address</button></a>
            </form>
        <h3>Send CPU usage to console.</h3>
            <form>
                <a href=# id=cpu><button class='btn btn-default'>Get CPU usage</button></a>
            </form>
    </div>
</body>
</html>
