<!DOCTYPE html>
<html lang="en">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/index.css" />
<!-- <script type=text/javascript>
    function cpuRefresh(){
        $.getJSON('home',function () { // background_process_timed_cpu' corresponds to app route
            $(this).unwrap();
        });
    }

    cpuRefresh(); // This will run on page load, calls cpuRefresh function above, that then calls to the app route in dashboard.py
    setInterval(function(){
        cpuRefresh() // this will run after every 5 seconds
    }, 5000); // time in ms
    // end block
    //Get theme from localstorage and have page use current theme
    const htmlType = document.getElementsByTagName('html')[0];
    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
    if (currentTheme) {
        htmlType.dataset.theme = currentTheme;
    }
    // If theme changes save theme
    const changeTheme = (theme) => {
    htmlType.dataset.theme = theme;
    }
</script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <meta charset="UTF-8">
    <title>Guest Shell Dashboard</title>
</head>
<body>
    <button onclick="changeTheme('dark');">Dark</button> 
    <button onclick="changeTheme('light');">Light Mode</button>
    <div class="logo">
        <img src="static\1200px-Cisco_logo_blue_2016.png" alt="Cisco Logo">
    </div>
   <h1>Welcome to Cisco's Guest Shell Dashboard </h1>
    <div class='container'>
        <h3>Host Name {{ hostname }} </h3>
        <h3>Local IP Address {{ ip }} </h3>
        <h3> {{ output }} </h3>
    </div>
    <br>
    <div class="iframes-container" align="center">
    <iframe src="version" ></iframe>
    <iframe src="interface" ></iframe>
    <iframe src="processes" ></iframe>
  </div>
    <div class="container-fluid"> 
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-container">

            </div>
        </div>
    </div>
    <!-- Unused container below -->
    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-container">

            </div>
        </div>
    </div>

    <script>
        function cpuRefresh(){
            $.getJSON('home',function () { // background_process_timed_cpu' corresponds to app route
                $(this).unwrap();
            });
        }

        cpuRefresh(); // This will run on page load, calls cpuRefresh function above, that then calls to the app route in dashboard.py
        const htmlType = document.getElementsByTagName('html')[0];
        const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
        if (currentTheme) {
            htmlType.dataset.theme = currentTheme;
        }
        // If theme changes save theme
        const changeTheme = (theme) => {
        htmlType.dataset.theme = theme;
        }

        var chart;
        var interval = 3000
        function clickyClick() {
            interval = document.getElementById("interval_selection").value
            document.getElementById("interval_success_alert").style.visibility ="visible";
        }

        function requestData()
        {
            
            cpuRefresh()
            // Ajax call to get the Data from Flask
            var requests = $.get('/graph_data');


            var tm = requests.done(function (result)
            {
                var series = chart.series[0],
                    shift = series.data.length > 20;

                // add the point
                chart.series[0].addPoint(result, true, shift);
                // alert
                if(parseInt(result[1]) > 30 ) {
                    document.getElementById("cpu_warning_alert").style.visibility ="visible";
                }
                else {
                   
                }

                // call it again after one second
                setTimeout(requestData, interval);
            });
        }


        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-container',
                    defaultSeriesType: 'spline',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: 'CPU Percentage every 5 seconds'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'CPU Percentage',
                        margin: 80
                    }
                },
                series: [{
                    name: 'Time',
                    data: []
                }]
            });

        });
    </script>

    <div>
        <form>Change Graph Interval in ms:
            <input type="text" name="interval_selection" id="interval_selection">
          </form>
          <button onclick="clickyClick()">Set Interval</button>
    </div>

    <div id="interval_success_alert" class="alert alert-success alert-dismissible fade in" style='visibility:hidden'>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> The interval has been changed.
    </div>

    <div id="cpu_warning_alert" class="alert alert-warning alert-dismissible fade in" style='visibility:hidden'>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> CPU usage is high.
    </div>
</body>
</html>