<p>Interface              IP-Address      OK? Method Status                Protocol
<a href="interface/3832">GigabitEthernet0</a>/0/0</a>   10.195.184.196  YES TFTP   up                    up      
<br><a href="interface/3832">GigabitEthernet0</a>/0/1</a>   unassigned      YES TFTP   administratively down down    
<br><a href="interface/3832">GigabitEthernet0</a>       10.195.184.195  YES TFTP   up                    up      
<br><a href="interface/27496">VirtualPortGroup0</a>      30.30.30.1      YES TFTP   up                    up      
<br><a href="interface/90545">VirtualPortGroup1</a>      40.40.40.1      YES TFTP   up                    up<br></p>