<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width", initial-scale="1.0" />
        <title>Show Version</title>
        <link rel="stylesheet" href="/static/version_table_styles.css" />
        <script type='text/javascript'>
          function clickyClick() {
              url = '/interface/' + document.getElementById("selection").value
              window.open(url, '_blank');
          }
          //Get theme from localstorage and have page use current theme
          htmlType = document.getElementsByTagName('html')[0];
          currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
          if (currentTheme) {
            htmlType.dataset.theme = currentTheme;
          }
          // If theme changes save theme
          changeTheme = (theme) => {
            htmlType.dataset.theme = theme;
          }
      </script>
    </head>
    <body>
      <button class="dark_btn" onclick="changeTheme('dark');">Dark</button> 
      <button class="lit_btn" onclick="changeTheme('light');">Light</button>
        <table class="table">
          <thead>
            <tr>
              <td class="header"colspan="2">Show version</td>
            </tr>
          </thead>
          <tbody>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                    <td class="table__cell"> {{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </body>
</html>
