<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{ 
        color:#fff;
            }
</style>
<!--each table gets defined first-->
<table class="table table-striped">
    <tr  class="bg-info">
        <h4>CPU Percent</h4>
        <th>CPU Percent</th>
        <th>           </th>
    </tr>

    <tbody id="myCpuPercentTable">
        
    </tbody>
</table>

<table class="table table-striped">
    <tr  class="bg-info">
        <h4>CPU Stats</h4>
        <th>CTX Switches</th>
        <th>Interrupts</th>
        <th>Soft Interrupts</th>
        <th>Syscalls</th>
    </tr>

    <tbody id="myCpuStatsTable">
        
    </tbody>
</table>

<table class="table table-striped">
    <tr  class="bg-info">
        <h4>CPU Frequency</h4>
        <th>Current</th>
        <th>Min</th>
        <th>Max</th>
    </tr>

    <tbody id="myCpuFrequencyTable">
        
    </tbody>
</table>



<script>
	var cpuPercentArray = [
	    {'cpu_percent':'3.2'},
	    {'cpu_percent':'4.5'},
        {'cpu_percent': '...'}

	]

    var cpuStatArray = [
        {'ctx_switches':'239828975', 'interrupts':'1443174502', 'soft_interrupts':'0', 'syscalls':'238604547'},
        {'ctx_switches':'...', 'interrupts':'...', 'soft_interrupts':'...', 'syscalls':'...'},        
    ]

    var cpuFrequencyArray = [
        {'current':'3593.0', 'min':'0.0', 'max':'3593.0'},
        {'current':'...', 'min':'...', 'max':'...'}
    ]
	
	buildCpuPercentTable(cpuPercentArray)
    buildCpuStatsTable(cpuStatArray)
    buildCpuFrequencyTable(cpuFrequencyArray)



	function buildCpuPercentTable(data){
		var table = document.getElementById('myCpuPercentTable')

		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							<td>${data[i].cpu_percent}</td>
					  </tr>`
			table.innerHTML += row


		}
	}

	function buildCpuStatsTable(data){
		var table = document.getElementById('myCpuStatsTable')

		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							<td>${data[i].ctx_switches}</td>
							<td>${data[i].interrupts}</td>
							<td>${data[i].soft_interrupts}</td>
							<td>${data[i].syscalls}</td>                                                                                    
					  </tr>`
			table.innerHTML += row


		}
	}

	function buildCpuFrequencyTable(data){
		var table = document.getElementById('myCpuFrequencyTable')

		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							<td>${data[i].current}</td>
							<td>${data[i].min}</td>
							<td>${data[i].max}</td>                                                                              
					  </tr>`
			table.innerHTML += row


		}
	}

</script>