<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width", initial-scale="1.0" />
        <link rel="stylesheet" href="/static/view_interface_table_styles.css" />
        <script type='text/javascript'>
            function clickyClick() {
                url = '/interface';
                window.open(url, '_blank');
            }
            //Get theme from localstorage and have page use current theme
            htmlType = document.getElementsByTagName('html')[0];
            currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
            if (currentTheme) {
               htmlType.dataset.theme = currentTheme;
            }
            // If theme changes save theme
            changeTheme = (theme) => {
                htmlType.dataset.theme = theme;
            }
        </script>
    </head>
    <body>
        <button onClick="clickyClick()">Back</button>
        <button onclick="changeTheme('dark');">Dark</button> 
        <button onclick="changeTheme('light');">Light</button>
        <button onclick=""
        <h1>Viewing Interface</h1>
        <p> {{ p1 }} </p>
        <!-- <p>{{ p2 }} </p> -->
        <br>
        <table class="table">
            <tr class="table__header">
                <th class="table__cell">Detailed View</th>
            </tr>
            {% for cell in list2 %}
            <tr class="table__row">
                <td class="table__cell"> {{ cell }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>